<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
        {{- partial "head/head.html" . -}}
        <link rel="stylesheet" href="https://cdn.stepbystep.cf/botui/botui.min.css" />
        <link rel="stylesheet" href="https://cdn.stepbystep.cf/botui/botui-theme-default.css" />
        <script src="https://cdn.stepbystep.cf/botui/own-bot.js"></script>
        <script src="https://cdn.stepbystep.cf/botui/vue.min.js"></script>
        <script src="https://cdn.stepbystep.cf/botui/botui.min.js"></script>


        {{- block "head" . -}}{{ end }}
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        <div id="my-botui-app"><bot-ui></botui></div>
        {{- partial "head/colorScheme" . -}}

        {{/* The container is wider when there's any activated widget */}}
        {{- $hasWidget := false -}}
        {{- range .Site.Params.widgets -}}
            {{- if gt (len .) 0 -}}
                {{- $hasWidget = true -}}
            {{- end -}}
        {{- end -}}
        <div class="container main-container flex on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">

            {{- block "left-sidebar" . -}}
                {{ partial "sidebar/left.html" . }}
            {{- end -}}
            <main class="main full-width">
                {{- block "main" . }}

                {{- end }}
            </main>
            {{- block "right-sidebar" . -}}{{ end }}
        </div>
        {{ partial "footer/include.html" . }}

        
    </body>
</html>
